<form action="/parcels" method="post">
  <label for="stringLength">Add the package Length in inches</label>
  <input id="stringLength" name="stringLength" type="text">
  <label for="stringWidth">Add the package Width in inches</label>
  <input id="stringWidth" name="stringWidth" type="text">
  <label for="stringHeight">Add the package Height in inches</label>
  <input id="stringHeight" name="stringHeight" type="text">
  <label for="stringWeight">Add the package Length in pounds</label>
  <input id="stringWeight" name="stringWeight" type="text">
  <button type="submit">Submit</button>
</form>