@{
  Layout = "_Layout";
}

@using Parcels.Models;

<h1>Shipments</h1>

@if (@Model.Count == 0)
{
  <h3>No Shipments yet have been added yet!</h3>
} 

@foreach (Shipment shipment in Model)
{
  <h3><a href='/shipments/shipment.Id'>@shipment.Name</a></h3>
}

<p><a href='/'>Back home</a></p>